.encrypta-container {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.encrypta-container.slide-up {
  opacity: 1;
  transform: translateY(0);
}